            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/zingwin">
                  MY GitHub
                </a>
              </li>
              <li>
                <a href="http://weibo.com/fendouzl?from=profile&wvr=5&loc=infdomain">
                  微博
                </a>
              </li>
              <li>
                <a href="http://weizi.mashangtech.com/static/index.html">
                  微字
                </a>
              </li>              
            </ul>